
.navbar{
    background-color: rgba(71,11,127,255) !important;
    width: 100%;
}

.nav-container{
     position: fixed;
    width: 100%;
    z-index: 999;
    top:0;
}

.navbar-brand>img{
 margin-left: 50px;
}

ul li .mynav-link{
    text-decoration: none;
    font-size: 21px !important;
    color: white !important;
}

a:hover{
    text-decoration: none;
}

ul li .mynav-link:hover{
    text-decoration: none !important;
    color: rgb(255, 38, 0) !important;
    transition: all .3s;
}

ul li .mynav-link {
    margin-left: 20px !important;
}

.btn{
    width: 150px !important;
    margin-left: -100px !important;
    border-radius: 100px;
}

@media screen and (max-width:768px) {
    .navbar-brand>img{
    margin-left: 0px !important;
    width: 120px !important;
    height: 50px !important;
}

ul .mynav-item{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.contact-btn{
    display: none !important;
}
}