
.navbar{
    background-color: rgba(71,11,127,255) !important;
    width: 100%;
}

.nav-container{
     position: fixed;
    width: 100%;
    z-index: 998;
    top:0;
}

.mynav-item{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    /* height: 50px;
    width: 110px; */
}

.mynav-item:hover{
    /* background-color: rgb(221, 44, 13); */
    /* background-color: #FF4C29; */
    background-color: white;
    border-radius: 3px;
    transition: all .5s;
}

.mynav-item:hover>a{
    color: black;
}

.mynav-item:hover i{
    color: black !important;
}


.navbar-brand>img{
 margin-left: 50px;
}

ul li .mynav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 21px !important;
    color: white;
}

a:hover{
    text-decoration: none;
}

ul li .mynav-link:hover{
    text-decoration: none !important;
    /* color: rgb(255, 38, 0) !important; */
    transition: all .3s;
}
/* 
.btn{
    width: 150px !important;
    margin-left: -100px !important;
    border-radius: 100px;
} */

@media screen and (max-width:768px) {
    .navbar-brand>img{
    margin-left: 0px !important;
    width: 120px !important;
    height: 50px !important;
}

ul .mynav-item{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    margin-left: 0;
}

ul{
    display: block;
}

.contact-btn{
    display: none !important;
}
}